<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel='icon' href="{{url_for('static', filename = 'images/favicon.ico')}}" type='image/x-icon'>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="{{url_for('static', filename='js/solver.js')}}"></script>
            <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/woodstyles.css')}}">
            <!-- adds gobal variable representing the path to application.-->
            <script type=text/javascript> 
                $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            </script>
            
           
            <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script> -->
            <!-- <script type="text/javascript" charset="utf-8">
                var socket = io.connect('http://' + document.domain + ':' + location.port);
                
                socket.on( 'connect', function() {
                    socket.emit( 'myevent', {
                      data: 'User Connected'
                    } )

            
            </script> -->
        
        </head> 

    <body> 
        <div id="title" class="text-center">
            <h1>WOODSOLVER</h1>
        </div>
        <div id="separator" class="text-center">
            <img id="mainlogo" src="{{url_for('static', filename='images/woodsolverLogoWhite.svg')}}">
        </div>
        <div class="container text-center">
            <form id = "getdata" class="text-center" role="form">
                <div id = "user_input" class="row">
                    
                    <div id="piece_lengths" class = "col-md text-center">
                        <h2>Length of Pieces</h2>
                        <p> comma separated list of required piece lengths</p>
                            <input type="text" id = "piecesId" name="pieces">
                    </div>
                    <div id="stock_options" class="col-md text-center">
                        <h2>Stock Lengths</h2>
                        <p>comma separated list stock lengths offered by store</p>
                            <input type="text" id="stockOptionsId" name="options">
                    </div>
                    <!-- <div id="settings" class="col-md text-center">
                        <h2>Settings</h2>
                            <input type="radio">
                    </div>  -->
                
                </div> 
            </form>
            
            <button type="button">SOLVE</button>
            
        </div>
        <div id = "results_container" class="container">

        </div>
    
    <!-- <button onclick="hello()">hey</button>  -->
    
    </body>
</html> 
